<div class="container p-3">
  <table id="user_list" class="display nowrap table-striped" width="100%">
    <thead class="thead-dark">
      <tr>
        <th>First Name.</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>

      <% @users.each do |u| %>
      <tr>
        <td><%= u.first_name %></td>
        <td><%= u.last_name %></td>
        <td><%= u.email %></td>
        <td><%= u.age %></td>
        <td><%= u.is_female %></td>
        <td><%= u.country_name %></td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $('#user_list').DataTable({
      "scrollX": true
    });
  });
</script>